{% load i18n %}
<form id="login_form" onsubmit="return false" method="post" v-show="isActive('loginForm')">
	<div class="field">
		<label><input class="input" name="username" placeholder="{% trans 'Username' %}"></label>
	</div>
	<div class="field">
		<label><input class="input" name="password" placeholder="{% trans 'Password' %}"></label>
	</div>
	<input class="button" type="submit" @click="postLoginForm()" value="{% trans 'Login' %}" />
</form>
<div id="msgs" style="text-align:center" v-html="msgForm" v-show="isActive('msgForm')"></div>
<div id="logout" style="display:none" v-show="isActive('logout')">
	<div id="logout-msg">{% trans 'Do you want to logout?' %}</div>
	<div class="button success" @click="logoutUser()">{% trans 'Yes log me out' %}</a></div>
	<div class="button error" @click="cancelLogout()">{% trans 'Cancel' %}</div>
</div>